<ng-container *ngIf="item">
  <div class="row">
    <label [for]="item.description" class="col form-check-label">
      {{ item.description }}
    </label>
    <input
      class="form-check-input"
      [checked]="item.done"
      [id]="item.description"
      type="checkbox"
      (change)="item.done = !item.done; update.emit()"
    />

    <div class="col btn-group" role="group">
      <button class="btn btn-primary" (click)="editable = !editable">
        Edit
      </button>
      <button class="btn btn-danger" (click)="remove.emit()">Delete</button>
    </div>

    <div *ngIf="editable" class="row mt-1">
      <input
        #editableItem
        class="col form-control"
        placeholder="Edit item"
        type="text"
        value="{{ item.description }}"
        (keyup.enter)="
          item.description = editableItem.value;
          update.emit();
          editable = !editable
        "
      />

      <div class="col btn-group">
        <button class="btn btn-danger" (click)="editable = !editable">
          Cancel
        </button>
        <button
          class="btn btn-primary"
          (click)="
            item.description = editableItem.value;
            update.emit();
            editable = !editable
          "
        >
          Save
        </button>
      </div>
    </div>
  </div>
</ng-container>
