<div class="container">
  <h1>
    {{ title }}
  </h1>

  <hr class="border border-primary border-2 opacity-75" />

  <label for="addItemInput" class="form-label">
    What would you like to do today?
  </label>
  <input
    #newItem
    class="form-control mb-1"
    id="addItemInput"
    placeholder="Add new item"
    type="text"
    (keyup.enter)="add_task(newItem.value); newItem.value = ''"
  />

  <div class="btn-group mb-4">
    <div
      class="btn btn-primary"
      (click)="add_task(newItem.value); newItem.value = ''"
    >
      Add
    </div>

    <button
      class="btn btn-secondary"
      [class.active]="current_filter == appFilter.all"
      (click)="current_filter = appFilter.all"
    >
      View All
    </button>

    <button
      class="btn btn-secondary"
      [class.active]="current_filter == appFilter.active"
      (click)="current_filter = appFilter.active"
    >
      View Incomplete
    </button>

    <button
      class="btn btn-secondary"
      [class.active]="current_filter == appFilter.done"
      (click)="current_filter = appFilter.done"
    >
      View Done
    </button>
  </div>

  <hr class="border border-primary border-2 opacity-75" />

  <h2>
    {{ filter_tasks.length }}
    <span *ngIf="all_tasks.length === 1; else elseBlock"> item </span>
    <ng-template #elseBlock>items</ng-template>
  </h2>

  <!-- <ul class="list-group">
    <li
      class="list-group-item mb-1"
      *ngFor="let item of filter_tasks"
      [ngStyle]="{ 'margin-top': '5px' }"
      ngClass="{{ item.done ? '' : 'list-group-item-success' }}"
    >
      {{ item.description }}
    </li>
  </ul> -->

  <ul class="list-group">
    <li *ngFor="let i of filter_tasks" class="list-group-item mb-1">
      <app-item
        [item]="i"
        (update)="update_task(i)"
        (remove)="delete_task(i)"
      ></app-item>
    </li>
  </ul>
</div>
